
.pieChartPaddingAng{
  font-family: 'Roboto', sans-serif;
    /* margin: 20px; */
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 30px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px -8px rgba(0,0,0,0.75);
}

.pieChartPaddingAngTitle{
    margin-bottom: 20px;
}